@import "bootstrap-sprockets";
@import "bootstrap";

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.signup_link {
  margin-top: 15px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

// top

.jumbotron {
  margin-top: 70px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 50px;
}

// navbar

#logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.nav-list {
  color: white;
  font-size: 15px;
  margin-top: -40px;
}

.dropdown {
  color: white;
  font-size: 15px;
  margin-top: -40px;
}

// debugger

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// basic-point-index

.base-table {
  margin-top: 36px;
}

.custom-btn {
  width: 100px;
}

.custom-btn-2 {
  height: 50px;
  margin-left: 8px;
}


// error_messages 

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// モーダルウインドウの位置調整 

.modal-dialog-center {
  padding-top: 10%;
}

// ok